.container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
  
  .movieCard {
    border-radius: 5vh;
    border: 8px solid black;
    height: 420px;
    width: 280px;
    background-color:rgba(64, 64, 178, 0.507);
    margin: 15rem 0;
  }
  
  
  .title {
    color: black;
    text-align: left;
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  
  .genre {
    color: grey;
    text-align: left;
    margin-left: 1rem;
  }
  
  .poster__container {
    
    display: flex;
    justify-content: center;
    margin: 4.5vh;
  }
  
  .poster {
    height: 320px;
    width: auto;
  }
