.navbar_container{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: rgba(64, 64, 178, 0.507);
    color: white;
    text-align: center;
}


.nav_item{
    
    color: white;
}

.nav_item_active {
    color: white;
}

